http_interactions:
- request:
    method: get
    uri: https://apps.fs.usda.gov/fia/datamart/CSV/datamart_csv.html
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: '200'
      message: OK
      explanation: Request fulfilled, document follows
    headers:
      status: HTTP/1.1 200 OK
      content-type: text/html
      last-modified: Sun, 21 Jun 2020 07:20:49 GMT
      etag: '"7b54477d9c47d61:0"'
    body:
      encoding: UTF-8
      file: no
      string: "<!DOCTYPE html PUBLIC \"-//W3C//DTD XHTML 1.0 Transitional//EN\" \"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd\"><html
        \ lang=\"en\" xmlns=\"http://www.w3.org/1999/xhtml\"><head><meta http-equiv=\"Content-Type\"
        content=\"text/html; charset=utf-8\" /><title>FIA DataMart FIADB  :: Home</title></head><body><table>
        \ <tr align=\"center\">    <td><font size=\"8\" color=\"blue\"><img align=\"left\"
        src=\"../images/tinyusfs.gif\" width=\"98\" height=\"115\"   alt=\"FS shield\"
        />FIA DataMart</font><br/><font size=\"5\">FIADB Last updated Sat Jun 20 17:00:12
        CDT 2020</font><br/></td></tr></table><b>CSV (comma-delimited files)</b><br/>Click
        on the map to download a FIADB comma-delimited file containing all of the
        FIADB tables for a State.<div id=\"backyard_box2\"><div align=\"left\"><img
        src=\"../images/us_relief.gif\" alt=\"Image Map - U.S. Map\" title=\"Image
        Map - U.S. Map\" width=\"273\" height=\"182\" border=\"0\" usemap=\"#us_map\"
        /></div></div><map name=\"us_map\" id=\"us_map\">\t\t<area shape=\"rect\"
        coords=\"0,125,15,145\" href=\"AS.zip\" alt=\"American Somoa\" title=\"American
        Somoa\" />\t<area shape=\"rect\" coords=\"0,145,15,165\" href=\"GU.zip\" alt=\"Guam\"
        title=\"Guam\" />\t<area shape=\"rect\" coords=\"0,165,15,185\" href=\"PW.zip\"
        alt=\"Palau\" title=\"Palau\" />\t<area shape=\"poly\" coords=\"185,104,195,104,200,126,187,131\"
        href=\"AL.zip\" alt=\"Alabama\" title=\"Alabama\" />\t<area shape=\"poly\"
        coords=\"76,134,89[...]
